
input,
select,
textarea,
option,
button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 10px 16px;
	box-sizing: border-box;
	border: 1px solid colour(grey);
	width: 100%;

	&:focus,
	&:active {
		border-color: colour(blue);
	}
}

.field {
	padding-bottom: 15px;

	label {
		display: block;
		padding-bottom: 4px;
	}
}

button,
.button,
input[type="submit"] {
	@include animate();
	background: colour(blue);
	color: colour(white);
	cursor: pointer;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 700;
	border: 0;
	width: auto;
	padding: 10px 30px;

	&:hover{
		background: darken(colour(blue), 10%);
	}
}

::-webkit-input-placeholder {	color: rgba(0,0,0,0.25); }
:-moz-placeholder {				color: rgba(0,0,0,0.25); }
::-moz-placeholder {			color: rgba(0,0,0,0.25); }
:-ms-input-placeholder {		color: rgba(0,0,0,0.25); }
