
/**
 * Responsive
 **/
@media all and (max-width: 1600px) {
	
}

@media all and (max-width: 1200px) {
	
}

@media all and (max-width: 800px) {
	
	/* navigation */
	.hamburglar {
		display: block;
	}

	nav {
		&.mainnav {
			display: none;

			li {
				display: block;
				margin: 0;
				a {
					background: $light_grey;
					color: $black;
					border-bottom: 1px solid $grey;

					&:hover,
					&.current,
					&.section {
						background: $grey;
					}
				}

				.menu.level-2 {
					position: relative;
				}
			}
		}

	}

	section {
		.row {
			.col {
				@include col(1,3)
			}
		}
	}

	section {
		&.grid {
			.item {
				@include grid( $cols: 2, $col_gap: 2%)
			}
		}
	}
}

@media all and (max-width: 600px) {
	
}

@media all and (max-width: 400px) {
	
}