
/**
 * NAV PRIMARY
 **/

 nav {

	&.mainnav {
		li {
			display: inline-block;
			margin-right: 10px;
			&.last {
				margin-right: 0;
			}

			a {
				padding: 10px;
				display: block;
				text-decoration: none;
				color: $white;
				background: $blue;
				&:hover, &.current, &.section {
					background: $orange;
				}
			}
		}
	}

}

.mobNavBtn {
	position: absolute;
	right: 1em;
	top: 1em;
	display: none;
	.fa {
		font-size: 2em;
		cursor: pointer;
	}
}