/**
 * Generic page structure
 *
 * Use this as your base-level page layout. For elements shared globally use /partials/_element or
 * if your page is a unique class and layout, create a new /pages/_mypage file
 **/